*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html{
    max-width: 1440px;
    min-width: 350px; 
    height: 100%; 
    font-size: 1em; 
    line-height: 1.5; 
    text-align: center; 
    color:#333; 
    /*margin: 0 auto; */ 
}

html{
    --font-stack: 'Lato', Helvetica, sans-serif;
    font-size: 62.5%; 
}

body{
    font-family: var(--font-stack); 
    /* not to self. removed top padding to test layout */ 
    --section-padding: 0% 0% 4.8% 0%;  
    --h2-margins: 2.4% 0% 2.4% 0%;  
    --photo-spacing-bottom: 0% 0% 4.8% 0%;   
}

header,
main{
    width: 100%; 
}

.center{
    margin: 0 auto;
} 
/***************
HEADER SECTION
***************/
header{
    background-image: url("../img/samson-creative-91091-unsplash.jpg");background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 790px;
    position: relative;
    background-attachment: fixed;
}

header h1{
    font-size: 8.4rem;  
    color: #f3e6de;  
    margin-top: 0px; 
    margin-bottom: 0px; 
}

.header-content{
    top: 32%; 
    position: relative; 
}
/***************
NAV SECTION
***************/
nav ul{
    padding-left: 0px; 
}

 nav ul li{
    list-style: none; 
     display: inline-block; 
     margin-left: 4%;   
 } 
 
 nav ul li a{
     color: #f3e6de;
     font-size: 4.2rem; 
     text-decoration: none;  
 }

 nav ul li a:hover{
     color:  #29abe2; 
 }
/***************
DOWN-ARROW STYLE 
***************/
#down-arrow-container{
    bottom: 33%; 
    color: #f3e6de; 
    font-size: 1.2rem; 
    width: 100%;  
    position: absolute; 
}

#down-arrow-text{
    margin-bottom: 5px; 
}

#down-arrow{
    width: 2%;
    height: 2%;
    border-top: solid 20px #f3e6de;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;  
    margin: 0 auto;    
}
/***************
HOME-ARROW STYLE 
***************/
.home-arrow{
    font-size: 1.6rem; 
    width: 4%; 
    height: 6%; 
    position: fixed; 
    top: 0px; 
    right: 20px; 
}

.home-arrow a{
    text-decoration: none; 
    color: #fff; 
    background-color: rgba(41,171,226, .5);  
    padding-top: 20px; 
    padding-left: 10%; 
    padding-right: 10%; 
    padding-bottom: 10%;  
}
/***************
GENERAL SECTION STYLE
***************/
section{
    width: 75%; 
}

section h2{
    font-size: 4.8rem; 
}

section p,
label,
#submit-btn,
#textarea,
#fname,
#lname,
#email{
    font-size: 2.4rem; 
}

section p{
    text-align: justify;  
}

#about, 
#photos,
#contact{
    padding: var(--section-padding); 
}

#about h2,
#photos h2,
#contact h2,
label,
#submit-btn{
    margin: var(--h2-margins); 
}

#about p,
#contact p,
footer p{
    margin: 0; 
}

/*#about-photo-div,
#about-photo{
    border-radius: 10%; 
}*/ 

#about-photo, 
.photo-container img{
    height: auto;
    display: block; 
}

#about-photo,
.photo-container,
.photo-container img{
    max-width: 100%; 
}
/***************
ABOUT SECTION
***************/
#about{
    padding-top: 4.8rem; 
}

#about-photo-div{
    width: 44%; 
}
/***************
PHOTO SECTION
***************/
#photos{
    padding-top: .5%; 
}

.portfolio-img-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
}

.portfolio-img-container a{
    width: 49%;  
    margin: .5%; 
    margin-bottom: -2%; 
    cursor: pointer;
}

.noClue{
    width: 100%; 
    height: 92%; 
    overflow: hidden;  
    transition: .5s; 
    position: relative; 
}

.noClue p{
    color: white;
    font-size: 3.6rem; 
    font-weight: bold; 
    letter-spacing: 5px; 
    text-align: center; 
    width: 100%;
    height: 18%; 
    top: 0; 
    right: 0; 
    bottom: 0;
    left: 0; 
    margin: auto;  
    position: absolute; 
}

.noClue img{
    width: 100%;
    height: auto;  
}

.animate-img:before{
    content:""; 
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0; 
    background-color: rgba(0,0,0,0.5);
    position: absolute; 
    transition: all .5s linear; 
   
} 

.animate-img:hover{
    transform:scale(1.02); 
}

.animate-img:hover:before{
    background-color: transparent;  
    box-shadow: 3px 3px 1px rgba(0,0,0,0.3); 
} 
/***************
CONTACT SECTION
***************/
.display-message{
    border: 1px solid black; 
    width: 100%; 
    height: 50px; 
    display: none; 
}

#contact{
    padding-top: .5%; 
}

label{
    text-align: left; 
    display: block; 
}

input{ 
    height: 50px; 
}

input,
footer{
    width: 100%;
}

input,
#textarea{
    border: 1px solid #333; 
}

#textarea{
    min-width: 100%; 
    max-width: 100%;
    max-height: 262px; 
}

#submit-btn{  
    height: 75px; 
    color: #f3e6de; 
    background-color: #29abe2; 
    border: none; 
    cursor: pointer;
}
/***************
FOOTER SECTION
***************/
footer{
    padding: 2.4% 0 2.4% 0; 
}

footer p{
    font-size: 1.6rem; 
    
}
/***************
MEDIA QUIERIES 
***************/
@media screen and (max-width: 1008px){
    body, html{
        font-size: 46.875%;
    }

    h2{
        font-size: 100%; 
    }
    
   input{
       height: 37.5px; 
   }

   #textarea{
        height: 196.5px; 
   }

   #submit-btn{
       height: 56.25px; 
   }
}
 
@media screen and (max-width: 760px){
     body, html{
         font-size: 31.25%; 
     } 

     section p{
        font-size: 3rem; /* font reduce 60% so 60% of 16px = 9.6px*/  
     }

     input{
         height: 30px; 
     }

     #textarea{
         height: 157.2px; 
     }

     #submit-btn{
        height: 45px; 
    }
}

@media screen and (max-width: 500px){
     header{
        height: 209px; 
        background-attachment: scroll;
     }

     header h1{
        font-size: 6rem;
    }

    .center{
        top: 21%;
    }
    
    #down-arrow-container,
    .home-arrow{
        display: none; 
    }   

    #about-photo-div{
        width: 100%; 
    }

    .noClue{
        height: 96%; 
    }

    .portfolio-img-container a{
        width: 100%; 
        margin: .5%; 
        cursor: pointer;
    }   
}


 
